{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "linebreak-style": "off",
    "import/extensions": ["ignorePackages"],
    "import/no-unresolved": [2, {
      "ignore": ['app/plugins/sdk']
    }]
  }
}
