{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "linebreak-style": "off",
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off",
    "import/extensions": ["ignorePackages"],
    "import/no-unresolved": [2, {
      "ignore": ['app/plugins/sdk']
    }]
  }
}
